
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
}

:root {
  --main-color: #ffffff;
  --primary-text-color: #000000;
  --secondary-text-color: rgb(69, 0, 81);
  --secondary-color: #700f79;
  --tertiary-color: rgb(101, 44, 122);
  -webkit-box-shadow: inset 10px 10px 160px 0px rgba(112, 15, 121, 0.37);
  -moz-box-shadow: inset 10px 10px 160px 0px rgba(112, 15, 121, 0.37);
  box-shadow: inset 10px 10px 160px 0px rgba(112, 15, 121, 0.37);
}

/* padronizado */
.botaop {
  transition: 0.4s;
  background-color: var(--main-color);
  color: var(--primary-text-color);
}

.botaop:hover {
  background-color: var(--secondary-color);
  color: aliceblue;
}

.img-fluid {
  height: 400px;
  width: auto;
}

.teste-img {
  height: 110px;
  text-align: center;
  align-items: center;
}
